@page "/fetchdata"
@using ANTBLAZOR_DATAGRID.Shared.Models;

@*<Table TItem="Data" DataSource="_data" Loading="_loading" Total="_total" OnChange="HandleTableChange" RemoteDataSource>
    <PropertyColumn Style="width:20%;" Property="c => c!.Name" Sortable DefaultSortOrder="SortDirection.Ascending">@context.Name.First @context.Name.Last</PropertyColumn>
    <PropertyColumn Style="width:20%;" Property="c => c!.Gender" Filters="_genderFilters" />
    <PropertyColumn Property="c => c!.Email" />
</Table>*@
<Table TItem="Product" DataSource="_data" Total="_total" Loading="_loading" OnChange="HandleTableChange" RemoteDataSource>
    <ChildContent>
        <PropertyColumn Property="c => c!.Id" DefaultSortOrder="SortDirection.Ascending" Sortable></PropertyColumn>
        <PropertyColumn Property="c => c!.Name"></PropertyColumn>
        <PropertyColumn Property="c => c!.Price"></PropertyColumn>
        <PropertyColumn Property="c => c!.ManufactureDate" Format="dddd, dd MMMM yyyy"></PropertyColumn>
    </ChildContent>
    <PaginationTemplate>
        <Pagination Class="mt-3 text-right" PageSizeOptions="_pageSizeOptions" DefaultPageSize="_defaultPageSizeOption" ShowSizeChanger></Pagination>
    </PaginationTemplate>
</Table>
