@page "/fetchdata"
@using ANTBLAZOR_DATAGRID.Shared.Models;

<Table TItem="Product" DataSource="_data" Total="_total" @bind-PageSize="_pageSize" Loading="_showLoading" OnChange="HandleTableChange" RemoteDataSource>
    <TitleTemplate>
        <GridRow>
            <GridCol><Title Class="h3">Productos</Title></GridCol>
        </GridRow>
    </TitleTemplate>
    <ColumnDefinitions>
        <PropertyColumn Property="c => c!.Id" DefaultSortOrder="SortDirection.Ascending" Sortable></PropertyColumn>
        <PropertyColumn Property="c => c!.Name" Sortable></PropertyColumn>
        <PropertyColumn Property="c => c!.Price"></PropertyColumn>
        <PropertyColumn Property="c => c!.ManufactureDate" Format="dddd, dd MMMM yyyy"></PropertyColumn>
    </ColumnDefinitions>
    <PaginationTemplate>
        <Pagination Class="mt-3 text-end" Total="context.Total" PageSize="context.PageSize" Current="context.PageIndex" OnChange="context.HandlePageChange"
                    PageSizeOptions="_pageSizeOptions" ShowTotal="_showTotal" ShowSizeChanger>
        </Pagination>
    </PaginationTemplate>
</Table>
